html {
    box-sizing: border-box;
    font-family: sans-serif;
    font-size: 16px;
    background-color: #000;
  }
  
  *,
  *:after,
  *:before { 
    padding: 0;
    margin: 0;
    box-sizing: inherit;
  }
  
  img {
      max-width : 100%;
  }
  
  a {
      text-decoration : none;
  }
  
  a:hover {
      text-decoration : underline;
  }