/* ########################################index.html##################################### */
#word-input {
    font-size: 3rem;
}

#play-button{
    font-size: 3rem;
}
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
}

#rules{
    font-size: 3rem;
    font-weight: bold;
    outline: 8px;
    text-align: center;
}

.rule{
    font-size: 1rem;
}
/* ########################################game.html##################################### */

.game-window {
    display: flex;
    flex-direction: column;
    background: grey;
    width: 80vw;
    height: 80vh;
}

#main-div {
    display: flex;
    flex-wrap: wrap;
    background-color:grey;
    justify-content: center;
}
.letter {
    display: flex;
    background-color: rgb(235, 98, 98);
    border: 8px solid black;
    align-items: center;
    justify-content: center;
}

.title{
    font-weight: bold;
    background-color: black;
    color: white;
    padding: 1rem; 
    font-size: 4rem;
}

.subtitle{
    font-size: 2rem;
    padding: .5rem;
}

#lose {
    visibility: hidden;
    font-size: 4rem;
    padding: .5rem;
    color: red;
}

#win {
    visibility: hidden;
    font-size: 4rem;
    padding: .5rem;
    color: green;
}

.hint{
    visibility:hidden; 
    font-size: 1rem;
    background-color: rgb(235, 157, 104);
}

#guess-div{
    display: flex;
    flex-direction: row;
    font-weight: bold;
    align-items: center;
    padding: 1.5rem;
}

#play-div {
    align-self: center;
}

#input-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#end-div {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#guess, .letter {
    width: 128px;
    height: 128px;
    font-size: 6rem;
    margin: 1rem;
    text-align: center;
}